#Sudip_home_page_segment {
	width: 100%;
	height: 100%;
}
#Sudip_home_page_title {
	margin-top: 15%;
}
#Sudip_home_page_title_header {
	font-size:6em;
}
#Sudip_home_page_title_description {
	font-size:2em;
}