#sudip_home_page_segment {

}
#sudip_home_page_sidebar {
	display: none;
}
#sudip_home_page_title {
	margin-top: 15%;
}
#sudip_home_page_title_header {
	font-size:6em;
}
#sudip_home_page_title_description {
	font-size:2em;
}
@media only screen and (max-width: 700px) {
    #sudip_home_page_menubar {
        display: none !important;
    }
    #sudip_home_page_sidebar {
        display: block !important;
    }
}
