#main_container {
	width: 174.5%;
	margin-top: -25%;
	margin-left: -46.5%;
	/*background-image: url(../../res/images/desktop/BckImg.jpg);*/
}
/*#main_circle {
	width: 100%;
	height: 25%;
	margin-top: 43%;
	margin-left: 0%;
	background-color:#000000 !important;
	opacity:0.2;
}
#main_header {
		text-shadow: 2px 2px 20px #000000;
}
#main_header::after{
    position:absolute;
    margin-top:100px;
    left:38.5%;
    content:"";
    width:20%;
    height:4px;
    background-image: -webkit-linear-gradient(left, rgba(74, 20, 140, 1.0), rgba(74, 20, 140, 0.2), rgba(74, 20, 140, 0.0));
    background-image:    -moz-linear-gradient(left, rgba(107, 147, 191, 1.0), rgba(107, 147, 191, 0.2), rgba(14, 42, 85, 0.0));
    background-image:     -ms-linear-gradient(left, rgba(107, 147, 191, 1.0), rgba(107, 147, 191, 0.2), rgba(14, 42, 85, 0.0));
    background-image:      -o-linear-gradient(left, rgba(107, 147, 191, 1.0), rgba(107, 147, 191, 0.2), rgba(14, 42, 85, 0.0));
}*/
